[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"mido" = "*"
"python-rtmidi" = "*"

[requires]
python_version = "3.11"

[dev-packages]
"flake8" = "*"
"pylint" = "*"
"pyinstaller" = ">=6.16.0"
"pytest" = "*"
"setuptools" = ">=80.0.0"
